.App {
  background-color: #211a21; /* 大背景 */
  min-height: 100vh;
}

/* 轮播图按钮样式 */
.react-material-ui-carousel .CarouselButton {
  background-color: #211a21;
  color: #FFD700;
}

.react-material-ui-carousel .CarouselButton:hover {
  background-color: #211a21;
}

/* 设置页面基本样式 */
html, body, #root {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* 启用平滑滚动 */
html {
  scroll-behavior: smooth;
}

/* 设置每个部分的高度和样式 */
.section {
  height: 100vh; /* 每个部分高度为视口高度 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  color: white;
}

/* 设置不同部分的背景颜色 */
.section-1 {
  background-color: #FFD700;
}

.section-2 {
  background-color: #211a21;
}

.section-3 {
  background-color: #FFD700;
}



/* 隐藏滚动条 */
body {
  -ms-overflow-style: none; /* IE and Edge */
}

/* Best-seller渲染 */
@keyframes glow {
  0% {
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  100% {
      text-shadow: 0 0 10px #FFD700, 0 0 20px #FFD700, 0 0 30px #FFD700;
  }
}
